<section>
    <div  id="container"  class="container-fluid"
        [ngClass]="{'  sign-in': isSeConnecterIn , '  sign-up': isSeConnecterUp }"
    >
        
        <!-- row formulaire -->
        <div class="row">
            <!-- Enregistrement       -->
            <div class="col align-center flex-col sign-up">
                <div class="form-wrapper align-center">
                    <form [formGroup]="recordForm" class="form sign-up">
                        <div class="form-group">
                            <input type="text" class="form-control" required formControlName="pseudoUp" id="pseudoUp" 
                                (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorPseudo }">
                            
                                <span class="material-icons">
                                    person
                                </span>
                                <span class="span_value">
                                    Pseudo 
                                </span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" required formControlName="mailUp" email="true" 
                                id="mailUp" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMail }">
                            
                            <span class="material-icons">
                                mail
                            </span>
                            <span class="span_value">
                                E-mail 
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" required formControlName="mdpUp" 
                                id="mdpUp" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMdp }">
                            <span class="material-icons">
                                vpn_key
                            </span>
                            <span class="span_value">
                                Mot de passe
                            </span>

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" required formControlName="mdpConfUp" 
                                id="mdpConfUp" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMdpConf }">
                            <span class="material-icons">
                                vpn_key
                            </span>
                            <span class="span_value">
                                Confirmez
                            </span>
                        </div>
                        <div class="envoyer">
                            <button type="submit" class="btn" (click)="onSubmit()">S'enregistrer</button>
                        </div>
                        <p>
                            <span>Vous avez déja un compte ? </span>
                            <b  id="seConnecter" 
                                (click)="toggle_up()"
                            > Connectez-vous ici</b>
                        </p>
                    </form>
                </div>         
            </div>

            <!-- fin Enregistrement  -->

            <!-- connection  -->

            <div class="col align-center flex-col sign-in">
                <div class="form-wrapper align-center">
                    <form [formGroup]="loginForm" class="form sign-in">
                        <div class="form-group nom ">
                            <input type="text" class="form-control" required formControlName="pseudoIn" id="pseudoIn" 
                                (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorPseudo }">
                                <span class="material-icons">
                                    person
                                </span>
                                <span class="span_value">
                                    Pseudo 
                                </span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" required formControlName="mdpIn" 
                                id="mdpIn" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMdp }">
                                <span class="material-icons">
                                    vpn_key
                                </span>
                                <span class="span_value">
                                    Mot de passe
                                </span>
                        </div>
                        <div class="envoyer">
                            <button type="submit" class="btn" (click)="onSubmit()">Se connecter</button>
                        </div>
                        <p>
                            <span>Vous avez pas de compte ? </span>
                            <b  id="sEnregistrer"
                                (click)="toggle_in()"
                            > Enregistrez-vous ici</b>
                        </p>
                    </form>
                </div>         
            </div>

            <!-- fin connection  -->
        </div>
        <!-- fin row formulaire  -->
        
        <!-- row contenue  -->
        <div class="row content-row">
            <!-- connection sign in  -->
            <div class="col align-center flex-col ">
                <div class="text sign-in">
                    <h2>
                        De retour ! 
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sed, quidem architecto autem quo accusamus exercitationem assumenda quibusdam.
                    </p>
                    <div class="img sign-in">
                        <img src="assets/signup.svg" alt=""/>

                    </div>

                </div>
            </div>
            <!-- fin sign in  -->

             <!-- enregistrment singn up  -->
             <div class="col align-center flex-col">
                <div class="text sign-up">
                    
                    <h2 class="color_dark ">
                        Nous rejoindre ! 
                    </h2>
                    <p class="color_dark ">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sed, quidem architecto autem quo accusamus exercitationem assumenda quibusdam.
                    </p>
                    <div class="img sign-up">
                        <img src="assets/signin.svg" alt=""/>
                    </div>

                </div>
            </div>
            <!-- fin sign-up -->

        </div>


        <!-- fin row contenue  -->

    </div>

</section>