<section>
    <div class="container" id="container">
        <div class="row">
            <div class="col align-center flex-col sign-up">
                <div class="form-wrapper align-center">
                    <!-- <form class="form sign-up">

                    </form> -->

                    <form [formGroup]="loginForm" class="form sign-up">
                        <div class="form-group nom ">
                            <input type="text" class="form-control" required formControlName="pseudo" id="pseudo" placeholder="Pseudo"
                                (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorPseudo }">
                            <span class="material-icons">
                                person
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" required formControlName="mail" email="true" placeholder="Email"
                                id="mail" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMail }">
                            <span class="material-icons">
                                mail
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" required formControlName="mdp" placeholder="Mot de passe"
                                id="mdp" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMdp }">
                            <span class="material-icons">
                                vpn_key
                            </span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" required formControlName="mdpConf" placeholder="Confirmer votre mot de passe"
                                id="mdpConf" (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)"
                                [ngClass]="{'errorForm': errorMdpConf }">
                            <span class="material-icons">
                                vpn_key
                            </span>
                        </div>
                        <div class="envoyer">
                            <button type="submit" class="btn" (click)="onSubmit()">Se connecter</button>
                        </div>
                        <p>
                            <span>Vous avez déja un compte ? </span>
                            <b id="seConnecter"> Connectez-vous ici</b>
                        </p>
                    </form>
                </div>
            </div>

        </div>


    </div>

</section>