<main>
    <!-- titre  -->
    <h2 class="dash-title">
        <!-- Bonjour Motoko ! -->
        Bonjour @{{profilAuthenticated.pseudo}} !
    </h2>
    <!-- fin titre  -->

    <!-- CARDS  -->
    <div class="dash-cards">
        <div class="card_single" data-aos="fade-left">
            <div class="card_body ">
                <span class="material-icons">
                    today
                </span>
                <div>
                    <h5>Dernier Rendez-vous</h5>
                    <h4>15 Aout, 2020</h4>
                </div>
            </div>
            <div class="card_footer">
                <a href=""> Voir plus</a>
            </div>             
        </div>

        <div class="card_single" data-aos="fade-left">
            <div class="card_body">
                <span class="material-icons">
                    euro
                </span>
                <div>
                    <h5>Solde du Compte</h5>
                    <h4>21 340€</h4>
                </div>
            </div>
            <div class="card_footer">
                <a href=""> Voir plus</a>
            </div>             
        </div>

        <div class="card_single" data-aos="fade-left">
            <div class="card_body">
                <span class="">
                    87%
                </span>
                <div>
                    <h5>Audit</h5>
                    <h4>Déb. 12 jan, 2019</h4>
                </div>
            </div>
            <div class="card_footer">
                <a href=""> Voir plus</a>
            </div>             
        </div>
        
    </div>
    <!-- FIN CARDS  -->

    <!-- RECENT -->
    <section class="recent">
        <div class="activity-grid">

            <!--  -->
            <div class="activity-card">
                <h3>Activité récente</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Projet</th>
                            <th>Date déb.</th>
                            <th>Date fin</th>
                            <th>Equipe</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Audit</td>
                            <td>5 Aout, 2020</td>
                            <td>12 Sept, 2020</td>
                            <td class="td-team">
                                
                                <div class="img-3"></div>
                            </td>
                            <td>
                                <span class="badge badge-success">
                                    Succès
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Fiscalité</td>
                            <td>11 Janv, 2020</td>
                            <td>14 Oct, 2020</td>
                            <td class="td-team">
                                <div class="img-1"></div>
                                <div class="img-2"></div>
                                <div class="img-3"></div>
                            </td>
                            <td>
                                <span class="badge badge-warning">
                                    En attente
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Rapp. Prév</td>
                            <td>10 dec, 2020</td>
                            <td>12 mars, 2021</td>
                            <td class="td-team">
                                <div class="img-2"></div>
                                <div class="img-3"></div>
                            </td>
                            <td>
                                <span class="badge badge-success">
                                    Succès
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Comptabilité</td>
                            <td>11 Fév, 2018</td>
                            <td>10 Fév, 2050</td>
                            <td class="td-team">
                                <div class="img-1"></div>
                                <div class="img-3"></div>
                            </td>
                            <td>
                                <span class="badge badge-warning">
                                    En attente
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Cons. Stratégie</td>
                            <td>12 Aout, 2019</td>
                            <td>12 Sept, 2020</td>
                            <td class="td-team">
                                <div class="img-1"></div>
                            </td>
                            <td>
                                <span class="badge badge-success">
                                    Succès
                                </span>
                            </td>
                        </tr>
                        

                    </tbody>
                </table>
            </div>
            <!--  -->

            <!--  -->
            <div class="summary">
                <div class="summary-card">
                    <div class="summary-single">
                        <span class="material-icons">
                            receipt_long 
                        </span>
                        <div>
                            <h5>23</h5>
                            <small>Rapports provisionnels</small>
                        </div>

                    </div>
                    <div class="summary-single">
                        <span class="material-icons">
                            account_balance 
                        </span>
                        <div>
                            <h5>4</h5>
                            <small>Entreprises</small>
                        </div>

                    </div>
                    <div class="summary-single">
                        <span class="material-icons">
                            badge
                        </span>
                        <div>
                            <h5>10</h5>
                            <small>Nombre de personnel</small>
                        </div>

                    </div>
                </div>
                <div class="meet-card">
                    <div class="meet-flex">                   
                        <div class="meet-img">
                        </div>
                        <div class="meet-info">
                            <h5>Marie-Sol Doub</h5>
                            <small>Votre conseiller</small>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="text-center">   
                        <button>
                            <span class="material-icons">
                                chat
                            </span>
                            Contacter
                        </button>
                    </div>
                </div>
            </div>
            <!--  -->

        </div> 

    </section>
    <!-- FIN RECENT  -->

</main>