<!-- main  -->
<main>
  <!-- debut  -->
  <div class="debut" id="debut" [ngClass]="{'iOS':isIos}">
    <div class="container container_debut">
      <div class="container_debut_grid">
        <img src="assets/finance.svg" alt="finance" data-aos="fade-right" data-aos-duration="2000" />
        <div class="grid_text" data-aos="fade-left" data-aos-duration="2000">
          <h1>
            Avec Novae tout est carré, le top en comptabilité.
          </h1>
          <div class="rejoignez">
            <a [routerLink]="['/login']" fragment="container" class="btn_rejoignez">Rejoignez-nous</a>
          </div>
        </div>
      </div>


    </div>
    <div class="scroll_container">
      <img src="assets/scrolldown-1.gif" class="scroll">
    </div>
  </div>
  <!-- fin debut  -->

  <!-- missions  -->
  <div class="missions container-fluid bg_linear_transparent" id="missions">
    <div class="titre container">
      <div class="titre_container">
        <h2>Nos Missions</h2>
        <h3>Notre expertise à votre service</h3>
      </div>
    </div>
    <div class="missions_container container">
      <div class="mission animation_delay_500" >
        <div>
          <span class="material-icons">
            calculate
          </span>
        </div>
        <h4>
          Comptabilité
        </h4>
      </div>
      <div class="mission animation_delay_1000" >
        <div>
          <span class="material-icons">
            analytics
          </span>
        </div>
        <h4>
          Audit Financier
        </h4>
      </div>
      <div class="mission animation_delay_1500" >
        <div>
          <span class="material-icons">
            handyman
          </span>
        </div>
        <h4>
          Fiscalité
        </h4>

      </div>
      <div class="mission animation_delay_2000" >
        <div>
          <span class="material-icons">
            account_balance
          </span>
        </div>
        <h4>
          Création & radiation d'entreprise
        </h4>

      </div>
      <div class="mission animation_delay_2500" >
        <div>
          <span class="material-icons">
            receipt_long
          </span>
        </div>
        <h4>
          Rapport Prévisionnel
        </h4>
      </div>
      <div class="mission animation_delay_3000" >
        <div>
          <span class="material-icons">
            question_answer
          </span>
        </div>
        <h4>
          Conseil en stratégie
        </h4>

      </div>
    </div>

    <div class="titre container" id="simulateur">
      <div class="titre_container">
        <h3>Simulateur pret immobilier</h3>
      </div>
    </div>
    <div class="simulateur_container container" id="simulateur_conteneur">
      <div class="simulateur_gauche">
        <p>
          Montant
        </p>
        <div class="montant">
          <ngx-slider [(value)]="value" [options]="optionsSliderMontant" (userChangeStart)="onUserChangeStart($event)"
            (userChange)="onUserChange($event)" (userChangeEnd)="onUserChangeEnd($event)">
          </ngx-slider>
        </div>
        <p>
          Durée
        </p>
        <div class="duree">
          <ngx-slider [(value)]="minValue" [options]="optionsSliderDuree"
            (userChangeStart)="onUserChangeStartDuree($event)" (userChange)="onUserChangeDuree($event)"
            (userChangeEnd)="onUserChangeEndDuree($event)">
          </ngx-slider>
        </div>

        <!-- Events:
        <textarea type="text" class="form-control" style="min-width: 100%; min-height: 300px;">
          {{logText}} , {{logTextDuree}} , montant : ({{textMontant}})
        </textarea> -->


        <p>
          Taux d'intérêt : <span>{{textTaux}}%</span>
        </p>
        <!-- <p>
          Taux d'assurance : <span>{{textAssurance}}%</span>
        </p> -->

      </div>



      <!-- <div class="simulateur_droit" *ngIf="textMontant !== '' && textDuree !== ''"> -->
        <div  class="simulateur_droit" 
              [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'"
        >
        <p [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'">
          Pour un crédit de <span [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'">{{textMontant}}€</span> sur <span [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'">{{textDuree}}ans</span> avec un taux d'intérêt de <span>{{textTaux}}%</span> 
          <!-- et un taux d'assurance de <span>{{textAssurance}}%</span> -->
          .
        </p>
        <br [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'">
        <h3 [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'">
          Mensualité de <span [ngClass]="textMontant !== '' && textDuree !== '' ? 'simulateur_show' : 'simulateur_hide'">{{mensualite}}</span>€/mois
        </h3>
      </div>


    </div>


  </div>
  <!-- fin missions  -->

  <!-- chiffres  -->
  <div class="container-fluid chiffres bg_linear_light" [ngClass]="{'OS':isIos}" id="chiffres">
    <div class="chiffres_container container">
      <div class="chiffre">
        <h3>
          + <span class="counter" data-count="1300">0</span>
        </h3>
        <span>
          Rapports
        </span>
      </div>
      <div class="chiffre">
        <h3>
          +<span class="counter" data-count="200">0</span>
        </h3>
        <span>
          Entreprises
        </span>
      </div>
      <div class="chiffre">
        <h3>
          +<span class="counter" data-count="1000">0</span>
        </h3>
        <span>
          Audits
        </span>
      </div>
    </div>
  </div>
  <!-- fin chiffres  -->

  <!-- cabinet  -->
  <div class="cabinet " id="cabinet">
    <div class="titre container">
      <div class="titre_container">
        <h2>Notre Cabinet</h2>
        <h3>Le partenaire de votre entreprise</h3>
      </div>
    </div>
    <div class="cabinet_container container">
      <div class="cabinet_text">
        <h4>Avec Novae tout est carré !</h4>
        <p>
          Novae est un cabinet d'expertise comptable qui vous encadre et est proche de vos besoins dans tous les
          domaines financiers et fiscales.
          La rigueur et l'écoute de nos experts vous soutiennent quotidiennement dans vos projets et ça quelque soit
          votre domaine d'activité.
          Situé à St-françois et bientot à Baillif, Novae Consulting votre cabinet qui reste proche de vous sur toute
          l'ile.

        </p>
      </div>
      <div class="cabinet_img" data-aos="fade-left">
        <img class="reunion_img" src="assets/work.svg" />
      </div>

    </div>
  </div>
  <!-- fin cabinet  -->

  <!-- contactez-nous  -->
  <div class="container contactez" id="contactez-nous">
    <div class="contactez_container">
      <h4>
        Des&nbsp;questions sur votre fiscalité ? Une&nbsp;demande de&nbsp;devis !
      </h4>
        <a [routerLink]="['/main']" fragment="contacter" class="btn_rejoignez"> Contactez-nous
        </a>
    </div>
  </div>
  <!-- fin contactez-nous  -->

  <!-- solutions  -->
  <div class="solutions bg_linear_transparent container-fluid" id="solution">
    <div class="titre container ">
      <div class="titre_container">
        <h2>Nos solutions</h2>
        <h3>Nos solutions à votre sercice</h3>
      </div>
    </div>
    <div class="solutions_container container isuite">
      <div class="solution_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/isuite.png" />
      </div>
      <div class="solution_text">
        <h4>iSuite Expert</h4>
        <p>
          iSuite permet notamment de saisir et de déposer vos pièces comptables.
          Cette solution offre un suivi en temps réel de la situation financière de votre société, pour une gestion
          pratique de vos comptes.
          La modernisation a l'aide de votre quotidien.
        </p>
      </div>
    </div>
    <div class="solutions_container container meg">

      <div class="solution_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/meg.png" />
      </div>
      <div class="solution_text">
        <h4>MEG Mon Expert en Gestion</h4>
        <p>
          MEG (Mon Expert en Gestion) est un portail collaboratif permettant de gérer la facturation, les achats, les
          notes de frais, votre caisse et votre banque. Constitué de différents modules, cet environnement unique est le
          socle de notre accompagnement : il vous aide à piloter votre entreprise sereinement. Vous pouvez également y
          accéder via iSuite.
        </p>
      </div>
    </div>
  </div>
  <!-- fin solutions  -->

  <!-- actus  -->
  <div class="actus  container-fluid" id="actus">
    <div class="titre container ">
      <div class="titre_container">
        <h2>Nos actualités</h2>
        <h3>Etre informé pour etre plus performant </h3>
      </div>
    </div>

    <div class="news-wrap">
      <div class="container">
        <!-- articles recents  -->
        <div class="row">

          <!-- premier  -->
          <div class="news-grid-horizontal">
            <div class="news-grid-image">
              <img src="assets/mesure_covid.jpg" alt="">
              <div class="news-grid-box">
                <h1>22</h1>
                <p>Nov</p>
              </div>
            </div>
            <div class="news-grid-txt">
              <span class="theme">Sante</span>
              <h2>COVID-19 : COVID-19 : Mesures sanitaires</h2>
              <ul>
                <li>
                  <span class="material-icons">
                    today
                  </span>
                  22 Nov, 2020</li>
                <li>
                  <span class="material-icons">
                    person
                  </span>
                  Novae Team</li>
              </ul>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio
                porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam
                delectus neque amet esse?
              </p>
              <div class="button_lire_plus">
                <a href="">Lire Plus</a>
              </div>

            </div>
          </div>

          <!-- deuxieme  -->
          <div class="news-grid-horizontal">
            <div class="news-grid-image">
              <img src="assets/covid19.jpg" alt="">
              <div class="news-grid-box">
                <h1>19</h1>
                <p>Sept</p>
              </div>
            </div>

            <div class="news-grid-txt">
              <span class="theme">Fiscalité</span>
              <h2>COVID-19 : Comment Gerer son entreprise en période de crise</h2>
              <ul>
                <li>
                  <span class="material-icons">
                    today
                  </span>
                  19 Sept, 2020</li>
                <li>
                  <span class="material-icons">
                    person
                  </span>
                  Novae Team</li>
              </ul>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio
                porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam
                delectus neque amet esse?
              </p>
              <div class="button_lire_plus">
                <a href="">Lire Plus</a>
              </div>

            </div>
          </div>

        </div>

        <div class="titre container ">
          <div class="titre_container">
            <h3>Archives</h3>
          </div>
        </div>

        <!-- debut caroussel  -->
        <div class="">

          <!-- carousel  -->
          <owl-carousel-o [options]="customOptions_actus">
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/christina.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>15</h1>
                      <p>Aout</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>COVID-19 : LE FONDS DE SOLIDARITÉ MAINTENU JUSQU’AU 31 DÉCEMBRE 2020</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        15 Aout, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/2.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>05</h1>
                      <p>Juin</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>
                      ENTREPRISES EN DIFFICULTÉ : UN NUMÉRO SPÉCIAL D’INFORMATION SUR LES MESURES D’URGENCES</h2>

                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>

                        05 Juin, 2020

                      </li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">

                    <img src="assets/1.jpg" alt="">
                    <div class="news-grid-box">

                      <h1>19</h1>
                      <p>Sept</p>
                    </div>
                  </div>
                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>PGE : prolongé jusqu’au 30 juin 2021</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        Nov 22, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>

              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/christina.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>15</h1>
                      <p>Aout</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>COVID-19 : LE FONDS DE SOLIDARITÉ MAINTENU JUSQU’AU 31 DÉCEMBRE 2020</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        15 Aout, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/2.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>05</h1>
                      <p>Juin</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>
                      ENTREPRISES EN DIFFICULTÉ : UN NUMÉRO SPÉCIAL D’INFORMATION SUR LES MESURES D’URGENCES</h2>

                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>

                        05 Juin, 2020

                      </li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">

                    <img src="assets/1.jpg" alt="">
                    <div class="news-grid-box">

                      <h1>19</h1>
                      <p>Sept</p>
                    </div>
                  </div>
                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>PGE : prolongé jusqu’au 30 juin 2021</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        Nov 22, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>

              </div>
            </ng-template>
          </owl-carousel-o>
          <!-- fin carousel  -->
        </div>
      </div>
    </div>
  </div>
  <!-- fin actus  -->

  <!-- testimonial  -->
  <div class="testimonial  container-fluid " id="testimonial" [ngClass]="{'iOS':isIos}">
    <div class="titre container ">
      <div class="titre_container ">
        <h2>Testimonial</h2>
        <h3 class="testimonial_color_white">Nos clients témoignent </h3>
      </div>
    </div>

    <owl-carousel-o [options]="customOptions_testimonial">
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina1.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Marguerite</span>
            <span class="prenom">Celestine</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina2.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Motoko</span>
            <span class="prenom">Aya</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina3.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Orticia</span>
            <span class="prenom">Elise</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina4.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Payton</span>
            <span class="prenom">Bernard</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina5.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Maxime</span>
            <span class="prenom">Kelly</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina6.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Aims</span>
            <span class="prenom">Olivia</span>

          </div>


        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
  <!-- fin testimonial  -->

  <!-- nous contacter  -->
  <div class="contacter  container-fluid" id="contacter">
    <div class="titre container ">
      <div class="titre_container">
        <h2>Nous Conctacter</h2>
        <h3>Rencontrons-nous</h3>
      </div>
    </div>

    <!-- ***  -->
    <div class="form container">
      <!-- contact  -->

      <div class="contact-info " data-aos="fade-right" data-aos-duration="2000">

        <h3 class="titre">Nous contacter </h3>
        <div class="info_container">
          <div data-aos="" data-aos-duration="">
            <span class="material-icons">
              location_on
            </span>
            <p>
              12, rue des allouettes
              <br />
              97118, St-François
            </p>
          </div>
          <div data-aos="" data-aos-duration="">
            <span class="material-icons">
              phone
            </span>
            <p>
              +590 690 12 34 56
            </p>
          </div>
          <div class="contact" data-aos="" data-aos-duration="">
            <a href="mailto:mhatchi@yahoo.fr">
              <span class="material-icons">
                mail
              </span>
            </a>
            <p>
              contact@novae.gp
            </p>
          </div>

        </div>
        <!-- reseaux  -->

        <div class="reseaux_contact">
          <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
            <fa-icon class="linkedinin" [icon]="faLinkedinIn"></fa-icon>
          </a>
          <a href='' target="_blank" title="faFacebook">
            <fa-icon class="linkedinin" [icon]="faFacebook"></fa-icon>
          </a>
          <a href='' target="_blank" title="faTwitter">
            <fa-icon class="linkedinin" [icon]="faTwitter"></fa-icon>
          </a>
        </div>

        <!-- fin reseaux  -->

      </div>
      <!-- formulaire contact  -->
      <div class="contact-form" data-aos="fade-left" data-aos-duration="2000">
        <form [formGroup]="contactForm">
          <h3 class="titre">Envoyez un message</h3>
          <div class="form-group nom ">

            <input type="text" class="form-control" required formControlName="nom" id="nom"
              (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorNom }">

            <span class="material-icons">
              person
            </span>
            <span class="span_value">
              Nom
            </span>
          </div>
          <div class="form-group prenom ">

            <input type="text" class="form-control " required formControlName="prenom" id="prenom"
              (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorPrenom }">

            <span class="material-icons">
              person
            </span>
            <span class="span_value">
              Prénom
            </span>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" required formControlName="mail" email="true" id="mail"
              (blur)="onBlurMethod($event)" (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorMail }">
            <label for="">Mail</label>
            <span class="material-icons">
              mail
            </span>
            <span class="span_value">
              E-mail
            </span>
          </div>
          <div class="form-group">
            <textarea formControlName="message" required id="message" (blur)="onBlurMethod($event)"
              (focus)="onFocusMethod($event)" [ngClass]="{'errorForm': errorMessage }"></textarea>
            <label class="label_textarea" for="">Message</label>
            <span class="material-icons">
              message
            </span>
            <span class="span_value">
              Message
            </span>
          </div>
          <div class="envoyer">
            <button type="submit" class="btn" (click)="onSubmit()">Envoyer</button>
          </div>
        </form>
      </div>

    </div>


    <!-- ***  -->
  </div>
  <!-- fin nous contacter  -->






</main>
<!-- fin main  -->