<!-- header  -->
<header>
  <div class="logo">
    
    <a [routerLink]="['/main']" fragment="debut" (click)="closeMenu()">
      NO<span>V</span>AE 1.0.2 
    </a>
  </div>
  <div class="centre">
    <ul class="liste_menu">
      <li>
        <a [routerLink]="['/main']" fragment="missions">NOS MISSIONS</a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="cabinet">NOTRE CABINET</a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="solution">NOS SOLUTIONS</a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="actus">NOS ACTUS</a>
      </li>
      <li>
        <a [routerLink]="['/main']" fragment="contacter">NOUS CONTACTER</a>
      </li>
    </ul>

  </div>
  <div class="droite">
    <div class="connecter">
      <a [routerLink]="['/login']" fragment="">SE CONNECTER</a>
    </div>
    <div class="menu">
      <span class="material-icons icon_menu"
        [ngClass]="{'show': isShowMenu, 'hide':!isShowMenu, 'rotate_av': isRotateMenu , 'rotate_ar': !isRotateMenu}"
        (click)="getShowMenu()">
      </span>
    </div>
  </div>
  <div class="nav_menu_mobile fade " [ngClass]="{'show': isShowMenu, 'fade':!isShowMenu}">

    <ul class="liste_menu container ">
      <li [ngClass]="{'animate_box': isShowMenu && firstMenuNav === 1}">
        <a [routerLink]="['/main']" fragment="missions" (click)="getShowMenu()">NOS MISSIONS</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu && firstMenuNav === 1}">
        <a [routerLink]="['/main']" fragment="cabinet" (click)="getShowMenu()">NOTRE CABINET</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu && firstMenuNav === 1}">
        <a [routerLink]="['/main']" fragment="solution" (click)="getShowMenu()">NOS SOLUTIONS</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu && firstMenuNav === 1}">
        <a [routerLink]="['/main']" fragment="actus" (click)="getShowMenu()">NOS ACTUS</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu && firstMenuNav === 1}">
        <a [routerLink]="['/main']" fragment="contacter" (click)="getShowMenu()">NOUS CONTACTER</a>
      </li>
    </ul>
    <div class="connecter" [ngClass]="{'animate_slide': isShowMenu && firstMenuNav === 1}">
      <a [routerLink]="['/login']" fragment="connection" (click)="getShowMenu()">SE CONNECTER</a>
    </div>

  </div>
</header>
<!-- fin header  -->
<div class="router">
  <router-outlet></router-outlet>
</div>

<!-- footer  -->
<footer class="container-fluid">
  <div class="container footer">
    <div class="footer_item">
      <div class="logo">
        NO<span>V</span>AE
      </div>
      <p>
        Tout est carré!
      </p>
    </div>
    <div class="footer_item">
      <div class="titre">
        Qui sommes nous ?
      </div>
      <p>
        Un cabinet d'expertise comptable proche de ses adhérents
      </p>
    </div>
    <div class="footer_item">
      <div class="titre">
        Nous contacter
      </div>
      <ul class="contact">
        <li>
          <span class="material-icons">
            location_on
          </span>
          <p>
            12, rue des allouettes
            97118 St-François
          </p>

        </li>
        <li>
          <span class="material-icons">
            phone
          </span>
          <p>
            +590 690 12 34 56
          </p>
        </li>
        <li>
          <span class="material-icons">
            mail
          </span>
          <p>
            contact@novae.gp
          </p>
      </ul>
    </div>
    <div class="footer_item">
      <div class="titre">
        Nos réseaux
      </div>
      <ul class="reseaux">
        <li>
          <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
            <fa-icon class="linkedinin" [icon]="faLinkedinIn"></fa-icon>
          </a>
        </li>
        <li>
          <a href='' target="_blank" title="Facebook">
            <fa-icon class="gitTwitter" [icon]="faFacebook"></fa-icon>
          </a>
        </li>
        <li>
          <a href='https://github.com/objectifMH/' target="_blank" title="Github">
            <fa-icon class="github" [icon]="faGithub"></fa-icon>
          </a>
        </li>
      </ul>
    </div>

    <span class="footer_down">
      © M. Hatchi, Tous droits réservés - 2020
    </span>

  </div>
</footer>
<!-- fin footer  -->