<!-- header  -->
<header>
  <div class="logo">
    NO<span>V</span>AE
  </div>
  <div class="centre">
    <ul class="liste_menu">
      <li>
        <a [routerLink]="['/']" fragment="missions">NOS MISSIONS</a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="cabinet">NOTRE CABINET</a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="solution">NOS SOLUTIONS</a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="actus">NOS ACTUS</a>
      </li>
      <li>
        <a [routerLink]="['/']" fragment="contacter">NOUS CONTACTER</a>
      </li>
    </ul>

  </div>
  <div class="droite">
    <div class="connecter">
      <a [routerLink]="['/']" fragment="connection">SE CONNECTER</a>
    </div>
    <div class="menu">
      <span class="material-icons icon_menu"
        [ngClass]="{'show': isShowMenu, 'hide':!isShowMenu, 'rotate_av': isRotateMenu , 'rotate_ar': !isRotateMenu}"
        (click)="getShowMenu()">
      </span>
    </div>
  </div>
  <div class="nav_menu_mobile fade " [ngClass]="{'show': isShowMenu, 'fade':!isShowMenu}">

    <ul class="liste_menu container ">
      <li [ngClass]="{'animate_box': isShowMenu}">
        <a [routerLink]="['/']" fragment="missions" (click)="getShowMenu()">NOS MISSIONS</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu}">
        <a [routerLink]="['/']" fragment="cabinet" (click)="getShowMenu()">NOTRE CABINET</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu}">
        <a [routerLink]="['/']" fragment="solution" (click)="getShowMenu()">NOS SOLUTIONS</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu}">
        <a [routerLink]="['/']" fragment="actus" (click)="getShowMenu()">NOS ACTUS</a>
      </li>
      <li [ngClass]="{'animate_box': isShowMenu}">
        <a [routerLink]="['/']" fragment="contacter" (click)="getShowMenu()">NOUS CONTACTER</a>
      </li>
    </ul>
    <div class="connecter" [ngClass]="{'animate_slide': isShowMenu}">
      <a [routerLink]="['/']" fragment="connection">SE CONNECTER</a>
    </div>

  </div>
</header>

<!-- fin header  -->

<!-- main  -->
<main>
  <!-- debut  -->
  <div class="debut">
    <div class="container container_debut">

      <h1>
        Avec Novae tout est carré, une&nbsp;vraie valeur ajoutée.
      </h1>
      <button btn>
        Rejoignez-nous
      </button>
    </div>
    <div class="scroll_container">
      <img src="assets/scrolldown-1.gif" class="scroll">
    </div>
  </div>
  <!-- fin debut  -->

  <!-- missions  -->
  <div class="missions container-fluid bg_linear_transparent" id="missions">
    <div class="titre container">
      <div class="titre_container">
        <h2>Nos Missions</h2>
        <h3>Notre expertise à votre service</h3>
      </div>
    </div>
    <div class="missions_container container">
      <div class="mission" data-aos="zoom-in-up" data-aos-duration="100">
        <div>
          <span class="material-icons">
            calculate
          </span>
        </div>
        <h4>
          Comptabilité
        </h4>
      </div>
      <div class="mission" data-aos="zoom-in-up" data-aos-duration="200">
        <div>
          <span class="material-icons">
            analytics
          </span>
        </div>
        <h4>
          Audit Financier
        </h4>
      </div>
      <div class="mission" data-aos="zoom-in-up" data-aos-duration="400">
        <div>
          <span class="material-icons">
            handyman
          </span>
        </div>
        <h4>
          Fiscalité
        </h4>

      </div>
      <div class="mission" data-aos="zoom-in-up" data-aos-duration="400">
        <div>
          <span class="material-icons">
            account_balance
          </span>
        </div>
        <h4>
          Création & radiation d'entreprise
        </h4>

      </div>
      <div class="mission" data-aos="zoom-in-up" data-aos-duration="600">
        <div>
          <span class="material-icons">
            receipt_long
          </span>
        </div>
        <h4>
          Rapport Prévisionnel
        </h4>
      </div>
      <div class="mission" data-aos="zoom-in-up" data-aos-duration="600">
        <div>
          <span class="material-icons">
            question_answer
          </span>
        </div>
        <h4>
          Conseil en stratégie
        </h4>

      </div>
    </div>


  </div>
  <!-- fin missions  -->

  <!-- chiffres  -->
  <div class="container-fluid chiffres bg_linear_light">
    <div class="chiffres_container container">
      <div class="chiffre">
        <h3>
          + <span class="counter" data-count="1300">0</span>
        </h3>
        <span>
          Rapports
        </span>
      </div>
      <div class="chiffre">
        <h3>
          +<span class="counter" data-count="200">0</span>
        </h3>
        <span>
          Entreprises
        </span>
      </div>
      <div class="chiffre">
        <h3>
          +<span class="counter" data-count="1000">0</span>
        </h3>
        <span>
          Audits
        </span>
      </div>
    </div>
  </div>
  <!-- fin chiffres  -->

  <!-- cabinet  -->
  <div class="cabinet " id="cabinet">
    <div class="titre container">
      <div class="titre_container">
        <h2>Notre Cabinet</h2>
        <h3>Le partenaire de votre entreprise</h3>
      </div>
    </div>
    <div class="cabinet_container container">
      <div class="cabinet_text">
        <h4>Avec Novae tout est carré !</h4>
        <p>
          Novae est un cabinet d'expertise comptable qui vous encadre et est proche de vos besoins dans tous les
          domaines financiers et fiscales.
          La rigueur et l'écoute de nos experts vous soutiennent quotidiennement dans vos projets et ça quelque soit
          votre domaine d'activité.
          Situé à St-françois et bientot à Baillif, Novae Consulting votre cabinet qui reste proche de vous sur toute
          l'ile.

        </p>
      </div>
      <div class="cabinet_img">
        <img class="reunion_img" />
      </div>

    </div>
  </div>
  <!-- fin cabinet  -->

  <!-- contactez-nous  -->
  <div class="container contactez">
    <div class="contactez_container">
      <h4>
        Des&nbsp;questions sur votre fiscalité ? Une&nbsp;demande de&nbsp;devis !
      </h4>
      <button btn>
        Contactez-nous
      </button>
    </div>
  </div>
  <!-- fin contactez-nous  -->

  <!-- solutions  -->
  <div class="solutions bg_linear_transparent container-fluid" id="solution">
    <div class="titre container ">
      <div class="titre_container">
        <h2>Nos solutions</h2>
        <h3>Nos solutions à votre sercice</h3>
      </div>
    </div>
    <div class="solutions_container container isuite">
      <div class="solution_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/isuite.png" />
      </div>
      <div class="solution_text">
        <h4>iSuite Expert</h4>
        <p>
          iSuite permet notamment de saisir et de déposer vos pièces comptables.
          Cette solution offre un suivi en temps réel de la situation financière de votre société, pour une gestion
          pratique de vos comptes.
          La modernisation a l'aide de votre quotidien.
        </p>
      </div>
    </div>
    <div class="solutions_container container meg">

      <div class="solution_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/meg.png" />
      </div>
      <div class="solution_text">
        <h4>MEG Mon Expert en Gestion</h4>
        <p>
          MEG (Mon Expert en Gestion) est un portail collaboratif permettant de gérer la facturation, les achats, les
          notes de frais, votre caisse et votre banque. Constitué de différents modules, cet environnement unique est le
          socle de notre accompagnement : il vous aide à piloter votre entreprise sereinement. Vous pouvez également y
          accéder via iSuite.
        </p>
      </div>
    </div>
  </div>
  <!-- fin solutions  -->

  <!-- actus  -->
  <div class="actus  container-fluid" id="actus">
    <div class="titre container ">
      <div class="titre_container">
        <h2>Nos actualités</h2>
        <h3>Etre informé pour etre plus performant </h3>
      </div>
    </div>
    <!-- <div class="actus_container container">

      <div class="actu_text">
        <h4>COVID-19 : Comment Gerer son entreprise en période de crise </h4>
        <p>10 Novembre 2020 </p>
      </div>
      <div class="actu_img news" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/covid19.jpg" />
      </div>
    </div>
    <div class="actus_container container">

      <div class="actu_text">
        <h4>COVID-19 : Mesures sanitaires </h4>
        <p>10 Novembre 2020 </p>
      </div>
      <div class="actu_img news" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/mesure_covid.jpg" />
      </div>
    </div> -->


    <div class="news-wrap">
      <div class="container">
        <!-- articles recents  -->
        <div class="row">

          <!-- premier  -->
          <div class="news-grid-horizontal">
            <div class="news-grid-image">
              <img src="assets/mesure_covid.jpg" alt="">
              <div class="news-grid-box">
                <h1>22</h1>
                <p>Nov</p>
              </div>
            </div>

            <div class="news-grid-txt">
              <span class="theme">Sante</span>
              <h2>COVID-19 : COVID-19 : Mesures sanitaires</h2>
              <ul>
                <li>
                  <span class="material-icons">
                    today
                  </span>
                  22 Nov, 2020</li>
                <li>
                  <span class="material-icons">
                    person
                  </span>
                  Novae Team</li>
              </ul>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio
                porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam
                delectus neque amet esse?
              </p>
              <div class="button_lire_plus">
                <a href="">Lire Plus</a>
              </div>

            </div>
          </div>

          <!-- deuxieme  -->
          <div class="news-grid-horizontal">
            <div class="news-grid-image">
              <img src="assets/covid19.jpg" alt="">
              <div class="news-grid-box">
                <h1>19</h1>
                <p>Sept</p>
              </div>
            </div>

            <div class="news-grid-txt">
              <span class="theme">Fiscalité</span>
              <h2>COVID-19 : Comment Gerer son entreprise en période de crise</h2>
              <ul>
                <li>
                  <span class="material-icons">
                    today
                  </span>
                  19 Sept, 2020</li>
                <li>
                  <span class="material-icons">
                    person
                  </span>
                  Novae Team</li>
              </ul>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio
                porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam
                delectus neque amet esse?
              </p>
              <div class="button_lire_plus">
                <a href="">Lire Plus</a>
              </div>

            </div>
          </div>

        </div>

        <div class="titre container ">
          <div class="titre_container">
            <h3>Archives</h3>
          </div>
        </div>

        <!-- debut caroussel  -->
        <div class="">

          <!-- carousel  -->

          <owl-carousel-o [options]="customOptions_actus">
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/christina.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>15</h1>
                      <p>Aout</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>COVID-19 : LE FONDS DE SOLIDARITÉ MAINTENU JUSQU’AU 31 DÉCEMBRE 2020</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        15 Aout, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/2.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>05</h1>
                      <p>Juin</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>
                      ENTREPRISES EN DIFFICULTÉ : UN NUMÉRO SPÉCIAL D’INFORMATION SUR LES MESURES D’URGENCES</h2>

                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>

                        05 Juin, 2020

                      </li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">

                    <img src="assets/1.jpg" alt="">
                    <div class="news-grid-box">

                      <h1>19</h1>
                      <p>Sept</p>
                    </div>
                  </div>
                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>PGE : prolongé jusqu’au 30 juin 2021</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        Nov 22, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>

              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/christina.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>15</h1>
                      <p>Aout</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>COVID-19 : LE FONDS DE SOLIDARITÉ MAINTENU JUSQU’AU 31 DÉCEMBRE 2020</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        15 Aout, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">
                    <img src="assets/2.jpg" alt="">
                    <div class="news-grid-box">
                      <h1>05</h1>
                      <p>Juin</p>
                    </div>
                  </div>

                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>
                      ENTREPRISES EN DIFFICULTÉ : UN NUMÉRO SPÉCIAL D’INFORMATION SUR LES MESURES D’URGENCES</h2>

                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>

                        05 Juin, 2020

                      </li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="">
                <div class="news-grid">
                  <div class="news-grid-image">

                    <img src="assets/1.jpg" alt="">
                    <div class="news-grid-box">

                      <h1>19</h1>
                      <p>Sept</p>
                    </div>
                  </div>
                  <div class="news-grid-txt">
                    <span class="theme">Finance</span>
                    <h2>PGE : prolongé jusqu’au 30 juin 2021</h2>
                    <ul>
                      <li>
                        <span class="material-icons">
                          today
                        </span>
                        Nov 22, 2020</li>
                      <li>
                        <span class="material-icons">
                          person
                        </span>
                        Novae Team</li>
                    </ul>
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat
                      optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero
                      asperiores veniam delectus neque amet esse?
                    </p>
                    <div class="button_lire_plus">
                      <a href="">Lire Plus</a>
                    </div>

                  </div>
                </div>

              </div>
            </ng-template>
          </owl-carousel-o>

          <!-- fin carousel  -->
          <!-- <div class="col-lg-4">
            <div class="news-grid">
              <div class="news-grid-image">
                <img src="assets/christina.jpg" alt="">
                <div class="news-grid-box">
                  <h1>15</h1>
                  <p>Aout</p>
                </div>
              </div>
  
              <div class="news-grid-txt"> 
                <span class="theme">Finance</span>
                <h2>COVID-19 : LE FONDS DE SOLIDARITÉ MAINTENU JUSQU’AU 31 DÉCEMBRE 2020</h2>
                <ul>
                  <li>
                    <span class="material-icons">
                    today
                    </span>
                    15 Aout, 2020</li>
                  <li>
                    <span class="material-icons">
                      person
                    </span>
                      Novae Team</li>
                </ul>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam delectus neque amet esse?
                </p>
                <div class="button_lire_plus" >  
                  <a href="">Lire Plus</a>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="news-grid">
              <div class="news-grid-image">
                <img src="assets/2.jpg" alt="">
                <div class="news-grid-box">
                  <h1>05</h1>
                  <p>Juin</p>
                </div>
              </div>
  
              <div class="news-grid-txt"> 
                <span class="theme">Finance</span>
                <h2> 
                  ENTREPRISES EN DIFFICULTÉ : UN NUMÉRO SPÉCIAL D’INFORMATION SUR LES MESURES D’URGENCES</h2>
                
                <ul>
                  <li>
                      <span class="material-icons">
                        today
                      </span>
                      
                    05 Juin, 2020
                    
                  </li>
                  <li>
                    <span class="material-icons">
                      person
                    </span>
                      Novae Team</li>
                </ul>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam delectus neque amet esse?
                </p>
                <div class="button_lire_plus" >  
                  <a href="">Lire Plus</a>
                </div>
  
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="news-grid">
              <div class="news-grid-image">
                
                <img src="assets/1.jpg" alt="">
                <div class="news-grid-box">
  
                  <h1>19</h1>
                  <p>Sept</p>
                </div>
              </div>
              <div class="news-grid-txt"> 
                <span class="theme">Finance</span>
                <h2>PGE : prolongé jusqu’au 30 juin 2021</h2>
                <ul>
                  <li>
                    <span class="material-icons">
                    today
                    </span>
                    Nov 22, 2020</li>
                  <li>
                    <span class="material-icons">
                      person
                    </span>
                      Novae Team</li>
                </ul>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque id deserunt reiciendis quaerat optio porro rem sapiente voluptas, consequuntur, enim suscipit, eligendi mollitia libero asperiores veniam delectus neque amet esse?
                </p>
                <div class="button_lire_plus" >  
                  <a href="">Lire Plus</a>
                </div>
  
              </div>
            </div>
            
          </div> -->
        </div>

      </div>
    </div>

    <!-- <div class="actus_container container">
      <div class="actu_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/christina.jpg" />
      </div>
      <div class="actu_text">
        <h4>COVID-19 : LE FONDS DE SOLIDARITÉ MAINTENU JUSQU’AU 31 DÉCEMBRE 2020</h4>
        <p>12 Septembre 2020 </p>
      </div>
    </div>
    <div class="actus_container container">
      <div class="actu_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/1.jpg" />
      </div>
      <div class="actu_text">
        <h4>ENTREPRISES EN DIFFICULTÉ : UN NUMÉRO SPÉCIAL D’INFORMATION SUR LES MESURES D’URGENCES</h4>
        <p>25 Novembre 2020 </p>
      </div>
    </div>
    <div class="actus_container container">
      <div class="actu_img" data-aos="zoom-in-up" data-aos-duration="700">
        <img src="assets/chiffres_1.jpg" />
      </div>
      <div class="actu_text">
        <h4>PGE : prolongé jusqu’au 30 juin 2021</h4>
        <p>04 Decembre 2020 </p>
      </div>
    </div> -->
  </div>
  <!-- fin actus  -->

  <div class="testimonial  container-fluid " id="testimonial">
    <div class="titre container ">
      <div class="titre_container">
        <!-- <h2>Testimonial</h2>
        <h3>Nos clients témoignent </h3> -->
      </div>
    </div>

    <owl-carousel-o [options]="customOptions_testimonial">
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina1.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Marguerite</span>
            <span class="prenom">Celestine</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina2.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Motoko</span>
            <span class="prenom">Aya</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina3.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Orticia</span>
            <span class="prenom">Elise</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina4.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Payton</span>
            <span class="prenom">Bernard</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina5.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Maxime</span>
            <span class="prenom">Kelly</span>

          </div>


        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="testimonial_container container ">
          <div class="box_img">
            <img src="assets/person/christina6.jpg">

          </div>
          <div class="box_text">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore
              tempora provident, voluptatibus dolor expedita, et est.
            </p>
            <span class="nom">Aims</span>
            <span class="prenom">Olivia</span>

          </div>


        </div>
      </ng-template>
    </owl-carousel-o>

    <!-- <div class="testimonial_container container ">
      <div class="box_img">
        <img src="assets/person/christina1.jpg" >

      </div>
      <div class="box_text">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vero eum optio deleniti soluta labore tempora provident, voluptatibus dolor expedita, et est.
        </p>
        <span class="nom">Marguerite</span>
        <span class="prenom">Celestine</span>

      </div>

      
    </div> -->


  </div>

  <div class="actus  container-fluid" id="actus">
    <div class="titre container ">
      <div class="titre_container">
        <h2>Nous Conctacter</h2>
        <h3>Rencontrons-nous</h3>
      </div>
    </div>
  </div>






</main>
<!-- fin main  -->

<!-- footer  -->
<footer class="container-fluid">
  <div class="container footer">
    <div class="footer_item">
      <div class="logo">
        NO<span>V</span>AE
      </div>
      <p>
        Tout est carré!
      </p>
    </div>
    <div class="footer_item">
      <div class="titre">
        Qui sommes nous ?
      </div>
      <p>
        Un cabinet d'expertise comptable proche de ses adhérents
      </p>
    </div>
    <div class="footer_item">
      <div class="titre">
        Nous contacter
      </div>
      <ul class="contact">
        <li>
          <span class="material-icons">
            location_on
          </span>
          <p>
            12, rue des allouettes
            97123 St-François
          </p>

        </li>
        <li>
          <span class="material-icons">
            phone
          </span>
          <p>
            +590 690 12 34 56
          </p>
        </li>
        <li>
          <span class="material-icons">
            mail
          </span>
          <p>
            contact@novae.gp
          </p>
      </ul>
    </div>
    <div class="footer_item">
      <div class="titre">
        Nos réseaux
      </div>
      <ul class="reseaux">
        <li>
          <a href='https://www.linkedin.com/in/m-hatchi-bb4b49156/' title="Linkedin" target="_blank">
            <fa-icon class="linkedinin" [icon]="faLinkedinIn"></fa-icon>
          </a>
        </li>
        <li>
          <a href='https://github.com/objectifMH/' target="_blank" title="Github">
            <fa-icon class="gitTwitter" [icon]="faTwitter"></fa-icon>
          </a>
        </li>
        <li>
          <a href='https://github.com/objectifMH/' target="_blank" title="Github">
            <fa-icon class="github" [icon]="faGithub"></fa-icon>
          </a>
        </li>
      </ul>
    </div>

    <span class="footer_down">
      © M. Hatchi, Tous droits réservés - 2020
    </span>

  </div>
</footer>
<!-- fin footer  -->