<!-- Section profile parametre  -->
<section class="section">
<div class="container-fluid">
    <div class="card">
        <div class="header">

            <a href="#" class="mail">
                <span class="material-icons">
                    mail
                </span>
            </a>
            <div class="main">
                <div class="image">
                    <div class="hover">
                        <span class="material-icons">
                            photo_camera
                        </span>
                    </div>
                </div>
                <h3 class="pseudo">@{{profilAuthenticated.pseudo}}</h3>
                <h3 class="email">{{profilAuthenticated.mail}}</h3>
            </div>
        </div>
    </div>
</div>
</section>
<!-- fin parametre  -->